<a href="{{ article.url }}" aria-label="{{ article.title }} Article Link" class="article-card {{ class }}">
  <div class="article-card__image">
    {% render 'media-img', media: article.image %}
  </div>

  <p class="article-card__title h2">
    {{ article.title }}
  </p>
</a>