<section class="reset-password account form-container">
  <div class="reset-password__form">

    <div class="form__intro-wrapper form_wrapper">
      <h2 class="h3 reveal">Reset your password</h2>
    </div>

    {%- form 'reset_customer_password', class: 'form_form reveal' -%}
      {% assign recover_success = form.posted_successfully? %}

      {%- if recover_success == true -%}
        <p autofocus tabindex="-1">We've sent you an email with a link to update your password.</p>
      {%- endif -%}

      <div class="form_fields">
        <div class="form_field">
          <label class="font_b font_up" for="customer[password]">New Password</label>
          <input type="password" placeholder="********" name="customer[password]" autocomplete="new-password" {% if form.errors contains 'password' %} aria-invalid="true" aria-describedby="password-error" {% endif %}>
        </div>

        <div class="form_field">
          <label class="font_b font_up" for="customer[password_confirmation]">Confirm Password</label>
          <input type="password" placeholder="********" name="customer[password_confirmation]" autocomplete="new-password" {% if form.errors contains 'password_confirmation' %} aria-invalid="true" aria-describedby="password_confirmation-error" {% endif %}>
        </div>
      </div>

      <button aria-label="Reset password" class="button button--primary reveal" type="submit">
        Reset your password
      </button>

      {%- if form.errors -%}
        <div class="richtext font_b">
          {{ form.errors.messages.form }}
        </div>
      {%- endif -%}
    {%- endform -%}
  </div>


</section>
