<section class="error container">
  <h2>Error 404</h2>
  <p>Nothing on this page. Return <a href="/" class="link-anchor" aria-label="Home">home</a>.</p>
</section>

{% schema %}
{
  "name": "Main 404",
  "enabled_on": { 
    "templates": ["404"]
  },
  "limit": 1,
  "settings": []
}
{% endschema %}
