<section class="main-password container">
  <form method="post" action="/password">
    <div class="form_field">
      {%- comment -%}
        <label class="" for="password">Enter password</label>
      {%- endcomment -%}
      <input class="" type="password" name="password" id="Password" placeholder="Enter password"
        {% if form.errors contains 'form' %}
        aria-invalid="true"
        {% endif %}>
    </div>
    <button class="button button--secondary" type="submit" name="commit">Enter</button>
  </form>
</section>

{% schema %}
  {
    "name": "Main Password",
    "enabled_on": {
      "templates": ["password"]
    },
    "limit": 1,
    "settings": []
  }
{% endschema %}