<section class="collection">
  <div class="heading__content-wrapper">
    {%- if collection.title != blank -%}
      <h2 class="heading__title h2 reveal">{{ collection.title }}</h2>
    {%- endif -%}

    {%- if collection.description != blank -%}
      <div class="heading__body text-fade reveal">{{ collection.description }}</div>
    {%- endif -%}
  </div>

  <div class="collection__container">
    {%- paginate collection.products by section.settings.limit -%}
      <div id="collection" class="collection__grid">
        {% for product in collection.products %}
          {% render "product-card", product: product, showATC: false %}
        {% endfor %}
      </div>

      {% if paginate.next %}
        <div class="collection__load-more-wrapper">
          <button class="js-load-more button button--outline" data-next-url="{{ paginate.next.url }}" data-container="#collection">
            Show More
          </button>
        </div>
      {% endif %}


    {%- endpaginate -%}
  </div>
</section>

{% schema %}
  {
    "name": "Main Collection",
    "enabled_on": {
      "templates": ["collection"]
    },
    "limit": 1,
    "settings": [
      {
        "type": "range",
        "id": "limit",
        "min": 1,
        "max": 96,
        "step": 1,
        "default": 12,
        "label": "Products to Show"
      }
    ]
  }
{% endschema %}