<section class="instagram">
  <div class="intagram__content">
    <div class="instagram__heading-wrapper">
      {%- if section.settings.subheading != blank -%}
        <p class="instagram__subheading caption reveal">{{ section.settings.subheading }}</p>
      {%- endif -%}
    
      {%- if section.settings.title != blank -%}
        <h2 class="instagram__title reveal">{{ section.settings.title }}</h2>
      {%- endif -%}
    </div>

    <div class="decorative-line reveal"></div>

    {% if settings.instagram_handle != blank %}<a class="button button--primary reveal" aria-label="Instagram" href="https://www.instagram.com/{{ settings.instagram_handle | strip }}" rel="noopener noreferrer" target="blank">Follow us</a>{% endif %}
  </div>


  <div class="instagram__feed-wrapper reveal">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "@app" %}
          {% render block %}
      {% endcase %}
    {% endfor %}
  </div>
</section>


{% schema %}
{
  "name": "Instagram",
  "settings": [
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    }, 
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    } 
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Instagram"
    }
  ]
}
{% endschema %}
