::root {
  --headerHeight: 60px;
  --pageTop: calc(var(--headerHeight) * 2);
}

/* Root Elements */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

section {
  scroll-margin-top: calc(20px + var(--pageTop));
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  padding: 0;
}

input,
textarea,
input::placeholder,
textarea::placeholder {
  background: inherit;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  opacity: 1;
}

textarea {
  resize: none;
}

input:not([type='submit']),
textarea {
  display: block;
  width: 100%;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

select {
  background: none;
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 0;
  color: var(--fg);
  margin: 0;
  padding: 0;
}

select option {
  color: var(--fg);
  margin: 0;
  padding: 0;
  background: var(--bg);
}

select:focus {
  outline: none;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

/* Input Elements */

button,
input[type='submit'],
input[type='reset'],
div[role='button'] {
  color: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: unset;
  border: unset;
}

input[type='button'],
input[type='button']:focus {
  outline: none;
}

a:link,
a:visited,
a:link span,
a:visited span {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

/* Details Elements */

summary,
summary:focus {
  outline: none;
  list-style-type: none;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

details summary::marker,
details summary::-webkit-details-marker {
  content: '';
  visibility: hidden;
  position: absolute;
  z-index: -10;
  list-style-type: none;
  display: none;
}

summary > * {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

summary > *::after {
  content: '+';
}

@media (hover: hover) and (pointer: fine) {
  details summary:hover {
    opacity: 0.5;
  }
}

details[open] summary > *::after {
  content: '-';
}

details[open] summary ~ * {
  animation: appear 0.4s ease-in;
  -webkit-animation: appear 0.4s ease-in;
}

details.closing summary ~ * {
  animation: close 0.4s ease-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    max-height: 0;
  }

  100% {
    opacity: 1;
    max-height: 100vh;
  }
}

@keyframes close {
  0% {
    opacity: 1;
    max-height: 100vh;
  }

  100% {
    opacity: 0;
    max-height: 0;
  }
}

/* Image/Video Elements */

.aspectholder > * {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Universal Elements */

html {
  font-size: var(--baseFontSize);
  font-family: var(--baseFontFamily);
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  color: var(--primary);
  background: var(--white);
}

/* Universal Text Styling */

h1,
h2,
h3,
h4,
p,
a,
input,
button,
span {
  font-size: var(--baseFontSize);
  line-height: 1.25;
}

/* Enter View */

/* .block,
.stagger .stagger-child {
  opacity: 0;
}

.block.animate_down,
.stagger-child.animate_down {
  transform: var(--tDown);
}

.block.entered {
  animation: 200ms ease both fadeIn;
}

.block.entered.animate_down {
  animation: 200ms ease both enterDown;
}

.stagger.entered .stagger-child {
  animation: 200ms ease both fadeIn;
}

.stagger.entered .stagger-child.animate_down {
  animation: 200ms ease both enterDown;
}

@keyframes enterDown {
  0% {
      opacity: 0;
      transform: var(--tDown);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
} */

/* Main Styling */

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--grey);
}

/* body.js-my-cart-open {
  overflow: hidden;
} */

body[data-template='index'] main,
body[data-template='product'] main {
  padding-top: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

header,
main section,
footer,
.shopify-policy__container {
  position: relative;
  width: 100%;
  height: min-content;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  z-index: 40;
  width: 100%;
}

/* Cart Popup */

.my-cart__items {
  opacity: 1;
  transition: opacity 0.3s;
}

body.js-ajax-cart-request-in-progress .my-cart__items {
  opacity: 0.7;
}

form.js-ajax-cart-form-in-progress [type='submit'] {
  opacity: 0.7;
}

#shopify-section-my-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100dvh;
  z-index: 40;
  visibility: hidden;
  transition: all 0.1s 0.3s, background-color 0.3s;
  display: block;
}

.js-my-cart-open #shopify-section-my-cart {
  visibility: visible;
}

.cart-modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: calc((100% - 472px));
  height: 100vh;
  cursor: e-resize;
}

.cart-modal__inner {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--margin);
  width: 472px;
  height: calc(100dvh - 32px);
  transform: translateX(100%);
  background-color: var(--white);
  border: 1px solid var(--primary);
  visibility: hidden;
  transition: all var(--tZip);
}

.announcement-bar-visible .cart-modal__inner {
  margin: 16px;
  top: 30px;
  height: calc(100dvh - 62px);
}

.js-my-cart-open .cart-modal__inner {
  visibility: visible;
  transform: translateX(0);
}

.cart-modal__close svg {
  width: 20px;
  height: 20px;
}

.shopify-challenge__container {
  margin-top: var(--pageTop) !important;
}

.cart-modal__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  border-bottom: 1px solid var(--primary);
  padding: 16px 0;
}

.cart-modal__item .aspectholder {
  grid-column: span 1;
}

.cart-modal__item .aspectholder img {
  border-radius: var(--borderRadius);
}

.cart-modal__item-meta {
  grid-column: span 3;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.cart-modal__item-lower {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 10px;
}

.cart-modal__item-lower--remove {
  opacity: 0.5;
}

.cart-modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: scroll;
}

.cart-modal__footer-price {
  padding: 24px 0 8px;
}

.cart-modal__top-level {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.cart-modal__items {
  padding: var(--gutter) 0;
  overflow-y: scroll;
}

.product__quantity--cart {
  max-width: 100px;
  display: flex;
  width: 56px;
  justify-content: space-between;
  align-items: center;
}

.product__quantity--cart input {
  text-align: center;
}

.cart-modal__empty-text {
  margin-bottom: 16px;
  margin-top: 24px;
  text-align: center;
}

.cart {
  min-height: 80vh;
}
.cart__form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

.cart__left {
  grid-column: auto / span 5;
}

.cart__right {
  grid-column: 7 / span 5;
}

.cart__top-level {
  padding: 12px 24px;
}

.cart__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.cart__item {
  border-bottom: 1px solid var(--primary);
  padding: var(--gutter) 0;
}

.cart__item-meta {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.cart__image {
  background-color: var(--tertiary-color);
  border-radius: var(--borderRadius);
}

.cart__image img {
  border-radius: var(--borderRadius);
}

.cart__price {
  padding-bottom: 8px;
}

.cart__quantity-btns {
  width: 16px;
  height: 16px;
}

.cart__checkout-note {
  padding-top: var(--gutter);
}

.cart__item-bottom-meta {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.cart-modal__item-top {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: flex-start;
}

.cart-modal__footer {
  display: grid;
  gap: 9px;
  text-align: center;
}

.cart-modal__recommendation {
  background: var(--white);
  padding: 12px;
  border-radius: var(--borderRadius);
  margin-top: 20px;
}

.cart-modal__recommendation .product-card__atc-form {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
  position: relative;
  left: unset;
  right: unset;
  top: unset;
  padding: 0;
  bottom: unset;
  background: transparent;
  border-radius: unset;
  color: var(--primary);
  display: unset;
}

.cart-modal__recommendation .product-card__quantity {
  border-color: var(--primary);
}

.cart-modal__recommendation .product-card__quantity-container {
  margin-top: 4px;
}

.cart-modal__recommendation .product-card__quantity-btn svg path {
  stroke: var(--primary);
}

.product-cart__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 12px;
  padding-top: 8px;
}

.product-cart__title {
  padding-bottom: 8px;
}

.cart-modal__recommendation .product-cart__image {
  grid-column: span 1;
}

.cart-modal__recommendation .product-cart__image img {
  border-radius: var(--borderRadius);
}

.cart-modal__recommendation .product-cart__info {
  grid-column: span 3;
}

.cart-modal__recommendation .product-card__option-select-container {
  border-color: var(--primary);
}

.cart-modal__recommendation .product-card-cart__atc-form {
  padding-top: 12px;
}
