@media screen and (max-width: 1023px) {
  :root {
    /* Grid */
    --gutter: 15px;
    --margin: 16px;
    --coreGrid: repeat(12, 1fr);
    /* Spacing */
    --pageTop: var(--headerHeight);
    --baseFontSize: 14px;
    --baseFontFamily: 'Gill Sans';
  }

  /* FONT SIZES & STYLES */

  /* END OF FONT SIZES & STYLES */

  .mobile {
    display: block;
  }

  .header.mobile {
    display: flex;
  }

  .desktop {
    display: none;
  }

  .container {
    padding: 40px 16px;
  }

  /* Cart */
  .cart__left {
    grid-column: span 12;
  }

  .cart__right {
    grid-column: span 12;
  }
  /* End of Cart */

  /* Banner */
  .banner {
    margin-bottom: 30px;
  }

  .banner__media-desktop--has-mobile {
    display: none;
  }

  .banner__media-mobile {
    display: block;
  }

  .banner__title {
    max-width: 398px;
  }

  .banner__media--two_thirds .aspectholder,
  .banner__media--inset .aspectholder {
    padding: 0;
    aspect-ratio: 0.74;
  }

  .banner__content-container--left {
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    padding: 0 16px;
  }

  .banner__inner--stacked .banner__content-container {
    position: relative;
    transform: unset;
    left: unset;
    top: unset;
    bottom: unset;
    right: unset;
    padding: 40px 16px;
  }

  .banner__inner--stacked .banner__media .aspectholder {
    aspect-ratio: 1;
  }
  /* End of Banner */

  /* Customer account */
  .customer-account__nav {
    padding: 10px;
  }

  .account-nav-link.button {
    padding: 12px 8px;
  }
  /* End of Customer account */

  /* Contact */
  .contact {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
  }

  .contact__emails {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .contact__image-wrapper .aspectholder {
    height: auto;
    aspect-ratio: 0.9;
  }
  /* End of Contact */

  /* Featured Collection */
  .featured-collection {
    padding: 30px 0;
  }

  .featured-collection__slider {
    padding: 0;
  }
  /* End of Featured Collection */

  /* Collection page */
  .collection__grid {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }

  .pcard--featured .card__image .aspectholder {
    aspect-ratio: 0.9;
  }
  /* End of Collection page */

  /* Card */
  .card__image-badge span.caption {
    top: 20px;
    font-size: 11px;
    line-height: 13px;
  }

  .card__image-badge svg {
    height: 70px;
    width: 70px;
  }

  /* Product page */
  .product {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }

  .product__carousel {
    margin-left: 0;
  }
  /* End of Product page */

  /* Image and Text */
  .image-and-text__container,
  .image-and-text__container--image_right {
    flex-direction: column-reverse;
    gap: 24px;
  }

  .image-and-text__content,
  .image-and-text__container {
    padding-left: 16px;
    padding-right: 16px;
  }
  /* End of Image and Text */

  /* Multicolumn */
  .multicolumn {
    padding: 30px 0;
  }

  .multicolumn__items--2,
  .multicolumn__items--3 {
    grid-template-columns: 1fr;
  }
  /* End of Multicolumn */

  /* Featured Articles */
  .featured-articles {
    padding: 30px var(--margin);
  }

  .featured-articles__items {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .featured-articles__items .article-card:first-of-type {
    grid-column: span 1;
  }

  .featured-articles__items .article-card:last-of-type {
    margin-top: 0;
    grid-column: span 1;
  }
  /* End of Featured Articles */

  /* Announcement Bar */
  .announcement-bar {
    justify-content: center;
  }

  .announcement-bar-visible .header {
    top: 28px;
  }
  /* End of Announcement Bar */

  /* Cart */
  .cart-modal__inner {
    width: calc(100% - 32px);
  }

  .announcement-bar-visible .cart-modal__inner {
    top: 28px;
  }
  /* End of Cart */

  /* Account Area */
  .address__meta-container,
  .account__order-wrapper,
  .account-section__dashboard {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
  }

  .account__order-details {
    width: 100%;
  }

  .account__orders-table {
    margin-top: 40px;
  }
  /* End of Account Area */

  /* Footer */
  .footer__top-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .footer__nav {
    order: -1;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .footer__currency-switcher {
    display: none;
  }

  .footer__bottom-section {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
  }

  .footer__bottom-menu {
    width: 100%;
    justify-content: flex-start;
    gap: 20px;
  }
  /* End of Footer */

  /* Search page */
  .search__container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* End of Search page */
}
